<html>

<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plazza Market</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/all.css" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" type="text/css">
    <link rel="stylesheet" href="css/plazza-market/sign-x.css" type="text/css">
    <link rel="stylesheet" href="css/plazza-market/signup.css" type="text/css">
    <link rel="shortcut icon" href="content/logo_symbol.ico">
</head>

<body>
<main role="main">
    <div class="container-fluid overrider">
        <div class="row">
            <form class="col-12 col-lg-10 col-xl-8 mt-5 form-sign-x row">
                <img class="mb-3 mx-auto" src="content/logo.png" alt>
                <h1 class="col-12 h3 mb-5 font-weight-normal text-center">
                    Create Product
                </h1>
                <h4 class="col-12 mb-3">Product Information</h4>
                <div class="col-12 form-group">
                    <label for="name">Product Name</label>
                    <input id="name" class="form-control" type="text" name="name"
                           placeholder="Product name" required>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 form-group">
                    <label for="category">Category</label>
                    <select id="category" class="form-control" name="category">
                        <option value selected>Category</option>
                        <option value="Bulbs">Bulbs</option>
                        <option value="Flowers">Flowers</option>
                        <option value="Fruits">Fruits</option>
                        <option value="Fungi">Fungi</option>
                        <option value="Leaves">Leaves</option>
                        <option value="Roots">Roots</option>
                        <option value="Seeds">Seeds</option>
                        <option value="Tubers">Tubers</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 col-sm-6 form-group pr-sm-3">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" value="0" name="price" id="price" min="0">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 col-sm-6 form-group pl-sm-3">
                    <label for="quantity">Quantity (kg)</label>
                    <input class="form-control" type="number" value="0" id="quantity" name="quantity" min="0">
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-12 offset-sm-6 col-sm-6 d-flex mt-3">
                    <button class="btn btn-primary ml-3 flex-1" type="button" id="submit">
                        Create
                    </button>
                </div>
                <p class="col-12 mt-3 mb-4 text-center text-muted">
                    &copy; 2019 - 2019
                </p>
            </form>
        </div>
    </div>
</main>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/knockout.min.js"></script>
<script src="js/plazza-market/signup.js"></script>

<script>
    $(function () {
        $('#submit').click(function () {
            let product = $('form').serializeArray().reduce((map, obj) => {
                map[obj.name] = obj.value;
                return map;
            }, {});

            console.log(product);

            //delete product.category;

            $.ajax({
                url: `/api/products/add`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(product),
                success: function (response) {
                    alert("Product added with success!");
                }, error: function (response) {
                    console.error(response);
                }
            })
        });
    });




</script>

</body>

</html>
