<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Plazza Market</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/all.css}" type="text/css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" type="text/css">
    <link rel="stylesheet" th:href="@{css/plazza-market/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/plazza-market/signup.css}" type="text/css">
    <link rel="shortcut icon" href="content/logo_symbol.ico">

    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/knockout.min.js}"></script>
    <script th:src="@{js/plazza-market/index.js}"></script>

    <script>
        $(function () {
            $('.logout').click(function () {
                $.ajax({
                    url: `/api/logout`,
                    method: 'POST',
                    success: function (response) {
                        alert("logout");
                        location.href = "/"
                    }, error: function (response) {
                        alert("ERROR");
                    }
                })
            });
        });
    </script>
</head>

<body class="bg-light">
    <header>

        <nav class="navbar navbar-expand navbar-dark bg-dark shadow-sm d-md-flex d-none">
            <a class="navbar-brand overrider" href="/listproduct">
                <img src="content/logo_symbol.png">
            </a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/listproduct">
                            <i class="far fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historyshopping">
                            <i class="fas fa-history"></i> Shopping History
                        </a>
                    </li>
                </ul>
                <form class="form-inline mb-0">
                    <div class="form-row">
                        <input id="autocomplete" class="form-control" type="text" placeholder="Search For Products">
                        <input id="search" class="btn bg-white btn-outline-default my-0 my-sm-0 mx-2" type="button"
                            value="Search" />
                        <button type="button" class="btn bg-white btn-outline-default my-0 my-sm-0 logout" id="logout" >Logout</button>
                    </div>
                </form>
            </div>
        </nav>

        <!-- Mobile and Very Small Screens -->
        <nav class="navbar navbar-dark bg-dark shadow-sm d-flex d-md-none">
            <div class="navbar-collapse">
                <button class="navbar-toggler overrider py-2 float-left ml-n2" type="button" data-toggle="collapse"
                    data-target="#mobile_navbar">
                    <span class="fas fa-bars"></span>
                </button>
                <form class="form-inline mb-0 float-right">
                    <div class="form-row">
                        <div class="input-group">
                            <input id="autocomplete" class="form-control w-auto" type="text"
                                placeholder="Search For Products">
                            <div class="input-group-append">
                                <button class="btn bg-white btn-outline-default my-0 my-sm-0">
                                    <i class="far fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="mobile_navbar">
                <hr>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active pt-0" href="/listproduct">
                            <i class="far fa-home"></i> Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/historyshopping">
                            <i class="fas fa-history"></i> Shopping History
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="nav-item pr-1">
                        <a class="nav-link float-left" href="/listproduct">
                            <div class="navbar-brand overrider mh-3 mr-2">
                                <img src="content/logo_symbol.png">
                            </div>
                            Plazza Market
                        </a>
                        <a class="nav-link float-right logout">
                            <i class="fal fa-sign-out-alt" style="border-width: 1px;"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <th:block layout:fragment="content" />
</body>

</html>