<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{./layoutProducer}">

<head>
<script>
    $(function () {
        $('.remove').click(function () {
            let id = this.id;
            $.ajax({
                url: `/api/products/remove/` + id,
                method: 'DELETE',
                success: function (response) {
                    location.reload();
                }, error: function (response) {
                    console.error(response);
                }
            })
        });
    });
</script>
</head>

<body>

<main role="main" layout:fragment="content">

    <div class="container">
        <h1 class="mt-2">My products</h1>
        <p></p>
        <div class="table-responsive">
            <table class="table table-striped" th:data-count="${products.size()}">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="product : ${products}">
                    <tr>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.description}"></td>
                        <td>
                            <button class="fas fa-trash remove"
                                    th:id="${product.id}"
                                    style=" font-size: 20px;
                                                color: #C80000;
                                                background-color:transparent;
                                                border-color:transparent;
                                                float: right;">
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

</main>

</body>

</html>