.card-img-left {
    border-radius: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-group>.card:not(:first-child) .card-img-left, .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
}

.card-group>.card:not(:last-child) .card-img-left, .card-group>.card:not(:last-child) .card-header {
    border-bottom-left-radius: 0;
}

@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }

    .card-img-sm-left {
        border-radius: 0;
        border-top-left-radius: calc(0.25rem - 1px);
        border-bottom-left-radius: calc(0.25rem - 1px);
    }
    
    .card-group>.card:not(:first-child) .card-img-sm-left, .card-group>.card:not(:first-child) .card-header {
        border-top-left-radius: 0;
    }
    
    .card-group>.card:not(:last-child) .card-img-sm-left, .card-group>.card:not(:last-child) .card-header {
        border-bottom-left-radius: 0;
    }
}